<div class="home-index-wrapper">
  <!-- Upper Index -->
  <div class="home-index-upper-wrapper">
    <div class="home-index-upper-box">
      <div class="row">
        <div class="col col-md-12">
          <!-- Title -->
          <div class="home-index-title">
            <h2>Seu trabalho é jogar futeb<i class="fas fa-futbol"></i>l,  resto é com a gente. </h2>
          </div>
          <!-- End Title -->

          <!-- Search Input -->
      <div class="homes-index-search">
      <%= form_tag(pitches_path, method: :get) do %>
        <%= text_field_tag  :location,
            params[:location],
            :value => ' Buscar quadras',
            :style => "width: 480px",
            :class => 'searchfield' %>


          <%= date_field_tag :date,
            params[:date],
            :style => "width: 200px" %>
          <%= text_field_tag :max_dist,
            params[:max_dist],
            :value => '20',
            :style => "width: 200px" %>
        <%= submit_tag 'Pesquisar' %>

        <% end %>
      </div>
          <!-- End Search Input -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Upper Index -->

  <!-- Lower Wrapper -->
  <div class="home-index-middle-wrapper">
    <div class="row">
      <div class="col col-md-12">

        <!-- Map -->
        <div class="home-index-map">
          <!-- Map Div -->
          <div class="map-wrapper">
            <div
            id="map"
            style="width: 100%;
            height: 700px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
            ></div>
          </div>

        </div>
        <!-- End Map -->
      </div>
    </div>

  </div>
  <!-- End Lower Wrapper -->

  <div class="home-index-lower-wrapper">
    <div class="home-index-lower-box">

    </div>
  </div>
</div>



