<div class="pitches-show-wrapper">
  <div class="pitches-show-box">
    <div class="container">
      <!-- Upper Wrapper -->
      <div class="pitches-upper-wrapper">
        <!-- Card -->
        <div class="pitches-show-white-card">
          <!-- Left Seccion -->
          <div class="row">
            <div class="col-md-6">
              <div class="pitches-left-seccion">
                <!-- Foto -->
                <div class="pitches-left-photo-wrap">
                  <%= cl_image_tag @pitch.photo.url %>
                  <p>R$<%= @pitch.price %>/hr</p>
                </div>
                <div class="pitches-left-info-wrap">
                  <div class="pitches-left-info-title">
                    <h3><%= @pitch.title %></h3>
                  </div>
                    <div class="pitches-left-info-wrap-editdelete">
                      <% if policy(@pitch).edit? %>
                      <p><%=  link_to 'Editar', edit_pitch_path(@pitch) %>
                      <% end %></p>

                      <% if policy(@pitch).destroy? %>
                      <p style="margin-left: 80px"><%=  link_to 'Deletar', pitch_path(@pitch),
                      method: :delete,
                      data: { confirm: "Sua quadra será deletada. Aperte OK para confirmar."} %>
                      <% end %></p>
                    </div>
                    <div class="pitches-left-info-wrap-description">
                      <%= @pitch.description %>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Left Seccion -->

              <!-- Right Seccion -->
              <div class="col-md-6">
                <div class="pitches-right-seccion">

                    <h5><%= @pitch.subtitle %></h5>
                  <div class="pitches-show-schedule-search">
                    <%= form_tag(pitch_path(@pitch), method: :get) do |f| %>

                    <% label_tag :data, %>
                    <span class="-pitches-show-search-field">
                      <%= date_field_tag :date, params[:date], "data-provide" => 'datepicker', :class => "datepicker" %>
                    </span>
                    <span class="pitches-show-search-button">
                      <%= submit_tag 'Pesquisar', :class => 'pitchsearch'  %>
                    </span>
                    <% end %>
                  </div>


                  <div class="pitches-show-schedule">
                    <% @daily_schedule.each do |time_slot| %>
                    <% if time_slot[:available] == true %>
                    <div class="pitches-show-schedule-button">

                      <p><%= time_slot[:start_time].strftime("%H:%M") %> - <%= time_slot[:end_time].strftime("%H:%M") %>  <% time_slot[:available] %>

                        <%= link_to 'Reservar',
                        pitch_bookings_path(
                          pitch_id: @pitch.id,
                          booking: {
                            pitch_id: @pitch.id,
                            start_time: time_slot[:start_time],
                            end_time: time_slot[:end_time]
                          }),
                          method: 'post',
                          data: { confirm: "Reservar #{@pitch.title} para o dia #{time_slot[:start_time].strftime("%d/%m")} entre as #{time_slot[:start_time].strftime("%Hh%Mm")} e #{time_slot[:end_time].strftime("%Hh%Mm")}"} %></p>

                          <% else %>

                          <div class="pitches-show-schedule-button" id="false">

                            <p><%= time_slot[:start_time].strftime("%H:%M") %> - <%= time_slot[:end_time].strftime("%H:%M") %>  <% time_slot[:available] %>
                              <% end %>
                            </p>
                          </div>
                          <% end %>
                        </div>
                        <div class="pitches-show-schedule-price">

                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Right Seccion -->
                </div>
              </div>
            </div>
            <!-- End Upper Wrapper -->
          </div>
        </div>
      </div>
    </div>






