<h1>SHOW PITCH <%= @pitch.title %></h1>
<% if policy(@pitch).destroy? %>
  <%=  link_to 'delete pitch', pitch_path(@pitch),
      method: :delete,
      data: { confirm: "Are you sure?"} %>
<% end %>

<% if policy(@pitch).edit? %>
  <%=  link_to 'edit pitch', edit_pitch_path(@pitch) %>
<% end %>

<%= simple_form_for [@pitch, @booking] do |f| %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.submit %>
<% end %>
