<h1><%= @booking.pitch.title %> - <%= @booking.start_time.strftime("%d/%m") %></h1>
<h4><%= @booking.start_time.strftime("%Hh%M") %> - <%= @booking.end_time.strftime("%Hh%M") %></h4>
<h4><%= @booking.pitch.address %></h4>

<h3>Participantes (<%= @booking.participants.size %>)</h3>
<% if @booking.participants.size.positive? %>
    <% @booking.participants.each do |participant| %>
      <%= participant.user.first_name %>
    <% end %>
<% end %>
