<div class="bookings-show-wrapper">
  <div class="bookings-show-box">
    <div class="container">
      <div class="bookings-show-title">
        <!-- Booking Title -->
        <h1><%= @booking.pitch.company %></h1>
        <!-- <a href="https://web.whatsapp.com/send?text=<%= request.original_url %>" data-action="share/whatsapp/share" target='blank' >Compartilhar pelo whatsapp WEB</a> -->
        <!-- <a href="https://api.whatsapp.com/send?text=<%= request.original_url %>" data-action="share/whatsapp/share">Compartilhar pelo whatsapp MOBILE</a> -->
        <!-- End Booking Title -->
        <p><%= link_to "Voltar", users_show_path %></p>
      </div>
      <div class="bookings-show-white-card">
      <div class="bookings-show-white-card-header">
        <div class="row">
          <div class="col-md-12">
            <div class="bookings-show-white-card-header-content">
              <span><%= @booking.pitch.address %> (<%= @booking.pitch.price %>/hr)</span>

              <!-- <h4>link da partida: <%= request.url %></h4> -->

              <%if policy(@booking).organizer? %>
              <%=  link_to 'Cancelar reserva', booking_path(@booking),
              method: :delete,
              data: { confirm: "Você tem certeza que gostaria de cancelar essa reserva?"} %>
              <% end %>

              <% unless policy(@booking).organizer? %>
              <% if Participant.participant?(current_user, @booking) %>


              <% else %>
              <%= link_to 'Participar', booking_participants_path(@booking, participant_id: current_user.id), method: 'post' %>
              <% end %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
        <!-- SubHeader (confirm + search) -->
        <div class="bookings-show-white-card-subheader">


          <div class="col-md-12 text-center">

            <div style="min-width: 400px;">
              <!-- Add Friend Search + Button -->
              <% if policy(current_user).have_friendships? %>
              <span> <%= form_tag(booking_participants_path(@booking)) do |f| %>
                <%= select_tag :participant_id, options_from_collection_for_select(current_user.friendships, "friend_id", "name") %> </span>
                <span style="margin-left: 24px"> <%= submit_tag 'Convidar', :class => 'submit-add-friend'%></span>
                <% end %>
                <% end %>
                <!-- End Add Friend Search + Button  -->
              </div>
            </div>
          </div>
          <!-- End SubHeader -->

        <!-- Confirmed List  -->
        <div class="row">

            <div class="col-md-4">
              <div class="bookings-show-white-card-confirmedlist">
                <h3><strong><%= @confirmed_list.size %></strong> confirmados</h3>

                <% if policy(@booking).have_participants? %>
                <% @confirmed_list.each do |participant| %>

                <h5><%= participant.user.first_name.first.upcase %>. <%= participant.user.last_name.upcase %>


                <% if policy(@booking).organizer? && !policy(participant).current_user? %>
                <%=  link_to 'x', booking_participant_path(@booking, participant),
                method: :delete,
                data: { confirm: "Tem certeza que deseja remover #{participant.user.full_name} da partida?"} %></h5>

                <p>Valor estimado por pessoa: R$<%= @booking.pitch.price / @confirmed_list.size %></p>
                <% end %>
                <% end %>
                <% end %>

              </div>
            </div>
            <!-- End Confirmed List -->

            <!-- Pitch -->
            <div class="col-md-4">
              <div class="bookings-show-white-card-pitch">
                <% if @booking.participants.find_by(user: current_user).confirmed? %>
                  <%= link_to 'Cancelar Presença', change_confirm_path(@booking.participants.find_by(user: current_user)),
                        method: 'post' %>
                <% else %>
                  <%= link_to 'Confirmar Presença', change_confirm_path(@booking.participants.find_by(user: current_user)),
                        method: 'post' %>
                <% end %>

              <span class="card-pitch-type"><i class="fas fa-futbol"></i> <%= @booking.pitch.title %></span>
              <span class="card-pitch-time"><i class="far fa-clock"></i> <%= @booking.start_time.strftime("%Hh%M") %> - <%= @booking.end_time.strftime("%Hh%M") %></span>
              <span class="card-pitch-hour"> <i class="far fa-calendar-alt"></i> <%= @booking.start_time.strftime("%d/%m") %></span>


              </div>
            </div>
            <!-- End Pitch -->

            <!-- Not Confirmed List -->
            <div class="col-md-4">
              <div class="bookings-show-white-card-notconfirmedlist">
                <h3><strong><%= @not_confirmed_list.size %></strong> convocados</h3>


                <% if @not_confirmed_list.present? %>
                <% @not_confirmed_list.each do |participant| %>
                <h5><%= participant.user.first_name.first.upcase %>. <%= participant.user.last_name.upcase %>


                  <!-- Not Confirmed Player Edit -->
                  <p> <% unless Friendship.friends?(current_user, participant.user) %>
                    <%= link_to '+',
                    friendships_path(Friendship.new, email: participant.user.email),
                    method: 'post' %> </p>
                    <% end %>

                    <% if policy(@booking).organizer? && !policy(participant).current_user? %>
                    <%=  link_to 'x', booking_participant_path(@booking, participant),
                    method: :delete,
                    data: { confirm: "Tem certeza que deseja remover #{participant.user.full_name} da partida?"} %> </h5>


                    <% end %>
                    <% end %>
                    <% end %>
                    <!-- End Not Confirmed Player Edit -->



                  </div>
                </div>

              </div>
              <!-- End Not Confirmed List -->



            </div>

          </div>
        </div>
      </div>
