<div class="users-show-wrapper">
  <div class="users-show-box">
    <div class="container">
      <div>

          <div class="users-show-title">
            <h2>Painel de Controle</h2>
            <p><%= link_to "Voltar", pitches_path %></p>
          </div>

        <!-- Pitch Info -->

        <div class="users-show-pitch-white-card">
          <div class="row">
                <!-- Pitches Menu -->
                <div class="users-show-pitch-white-card-title">
                <h2><%= @pitch.company %></h2>
                </div>
                <div class="users-show-pitch-info">
                  <div class="col-md-6">
                    <div class="users-show-pitch-info-filters">
                      <div class="users-show-pitch-info-filters-title">
                        <h3>Agenda <%= @pitch.title %></h3>
                      </div>
                      <div class="users-show-pitch-info-filters-selectdatepick">
                        <%= form_tag(users_show_path, method: :get) do |f| %>

                          <%= select_tag :pitch, options_from_collection_for_select(@pitches, "id", "title", @pitch.id), :class => 'selecttag' %>

                          <span style="margin-left: 24px"><%= date_field_tag :date, params[:date], "data-provide" => 'datepicker', :class => 'datepicker' %></span>

                         <span style="margin-left: 24px"><%= submit_tag 'Pesquisar', :class => 'pitchsearch' %></span>
                        <% end %>
                      </div>
                      <div class="users-show-pitch-info-filters-backadv">
                        <div class="back4">
                        <%= link_to 'Voltar 4 dias',
                            users_show_path(
                              pitch: @pitch,
                              date: (@date_select.to_date - 4.days)),
                              method: 'get' %>
                        </div>
                        <div class="adv4">
                        <%= link_to 'Avançar 4 dias',
                            users_show_path(
                              pitch: @pitch,
                              date: (@date_select.to_date + 4.days)),
                              method: 'get' %>

                        </div>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-6">
                  <!-- <p>Quadras Cadastradas - <%= @pitches.size %></p> -->
                    <div class="users-show-pitch-photo">
                    <%= cl_image_tag @pitch.photo.url %>
                    </div>


                    <h4><%= @pitch.title %></h4>

                    <h6><%= link_to 'Editar', edit_pitch_path(@pitch) %></h6>
                  </div>


                </div>
              <!-- Pitch Details -->


          </div>
                <!-- End Pitch Details -->

          <div class="row">
            <div class="col col-md-12">
              <!-- Pitch Schedules -->
              <div class="users-show-owner-pitch-schedule">


                  <div class="row">
                    <% (0..3).to_a.each do |c| %> <!-- Gera 4 colunas de dia -->

                      <% date = @date_select + (c.days) %>
                      <div class="col-md-3">
                        <% day_schedule = Booking.pitch_daily_schedule(date, @pitch, 60) %>

                          <h4 style="font-family: ubuntu"><%= date.strftime("%d/%m") %></h4>

<!--                         <% if policy(@pitch).day_blocked?(date) %>
                          <%= link_to 'Desbloquear dia',
                              unblock_day_path(
                                pitch_id: @pitch.id,
                                booking: {
                                  start_time: date.beginning_of_day + @pitch.opening_time.hours,
                                  end_time: date.beginning_of_day + @pitch.closing_time.hours
                                }),
                                method: 'delete' %>
                        <% else %>
                          <%= link_to 'Bloquear todos',
                                pitch_bookings_path(
                                  pitch_id: @pitch.id,
                                  booking: {
                                    pitch_id: @pitch.id,
                                    start_time: date.beginning_of_day + @pitch.opening_time.hours,
                                    end_time: date.beginning_of_day + @pitch.closing_time.hours,
                                    blocked: true
                                  }),
                                  method: 'post',
                                  data: { confirm: "Tem certeza que deseja bloquear #{@pitch.company} para o dia #{date.strftime("%d/%m")}"} %>
                        <% end %> -->



                        <% day_schedule.each do |time_slot| %>
                          <% if time_slot[:available] %>
                          <div class="users-show-schedule-button">

                          <p><%= time_slot[:start_time].strftime("%H:%M") %> - <%= time_slot[:end_time].strftime("%H:%M") %>
                          <a href="" data-toggle="modal" data-target="#Modal-<%= time_slot[:start_time].strftime('%d%m%Hh%Mm') %>">Reservar</a> <!-- BOTAO DO MODAL -->

                            <!-- INICIO MODAL DE RESERVA -->
                            <div id="Modal-<%= time_slot[:start_time].strftime('%d%m%Hh%Mm') %>" class="modal fade" role="dialog">
                              <div class="modal-dialog">

                                <!-- Modal content-->

                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"> Nova Reserva </h4> <p class="modal-hour"> <%= time_slot[:start_time].strftime("%H:%M") %> - <%= time_slot[:end_time].strftime("%H:%M") %> </p>
                                  </div>
                                  <div class="modal-body">
                                    <%= form_tag(pitch_bookings_path(pitch_id: @pitch.id)) do %>
                                      <%= label_tag 'Nome'%>
                                      <%= text_field_tag 'booking[player_name]', nil, required: true %>
                                      <%= label_tag 'Telefone' %>
                                      <%= text_field_tag 'booking[player_phone]', nil, required: true %>
                                      <%= hidden_field_tag 'booking[start_time]', time_slot[:start_time] %>
                                      <%= hidden_field_tag 'booking[end_time]', time_slot[:end_time] %>
                                  </div>
                                  <div class="modal-footer">
                                      <%= submit_tag 'Reservar', :class => 'btn-reservar' %>
                                  </div>
                                    <% end %>
                                </div>

                              </div>
                            </div>
                            <!-- FIM DO MODAL DE RESERVA -->

                          <% else %>

                          <div class="users-show-schedule-button" id="false">
                          <p><%= time_slot[:start_time].strftime("%H:%M") %> - <%= time_slot[:end_time].strftime("%H:%M") %>

                          <% if time_slot[:booking].present? %>
                            <a href="" data-toggle="modal" data-target="#Modal-<%= time_slot[:start_time].strftime('%d%m%Hh%Mm') %>"><i class="fas fa-user"></i> <%= time_slot[:booking].player_name %></a> <!-- BOTAO DO MODAL -->
                          <% end %>
                          </p>


                          <!-- INICIO MODAL DE INFORMAÇÕES DE RESERVA -->
                          <% if time_slot[:booking].present? %>
                            <div id="Modal-<%= time_slot[:start_time].strftime('%d%m%Hh%Mm') %>" class="modal fade" role="dialog">
                              <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h5 class="modal-title"><%= @pitch.title %> &nbsp;  - &nbsp;  <%= date.strftime("%d/%m") %> &nbsp; - &nbsp; <%= time_slot[:start_time].strftime("%H:%M") %> às <%= time_slot[:end_time].strftime("%H:%M") %></h5>
                                  </div>
                                  <div class="modal-body">
                                    <p>Nome</p>
                                    <%= time_slot[:booking].player_name %>
                                    <p>Telefone</p>
                                    <%= time_slot[:booking].player_phone %>
                                  </div>


                                  <div class="modal-footer">
                                    <%= link_to 'Cancelar reserva',
                                          booking_path(time_slot[:booking]),
                                          method: 'delete',
                                          data: { confirm: "Tem certeza que deseja cancelar esta reserva?"}, :class => 'btn-cancelar' %>
                                  </div>
                                </div>

                              </div>
                            </div>
                          <% end %>
                            <!-- FIM DO MODAL DE INFORMAÇÕES DE RESERVA -->

                          <% end %>

                          </div>

                          <% end %> <!-- NÃO MOVER ESSA PARTE (compromete a formatação)-->
                          </div> <!-- NÃO MOVER ESSA PARTE (compromete a formatação)-->
                        <% end %> <!-- NÃO MOVER ESSA PARTE (compromete a formatação)-->
                  </div>
                </div>
              <!-- End Pitch Scedules -->
            </div>
          </div>
        </div>

        <!-- End Pitch Info -->
      </div>
    </div>
  </div>
</div>

<!-- <script>
  document.addEventListener("DOMContentLoaded", function(event) {
    document.querySelector("a[data-toggle='modal']").click()
  });
</script>
 -->

