<h2>Painel de controle</h2>

<p><%= @user.email%></p>
<p><%= @user.first_name %>
<p><%= @user.last_name  %></p>
<p><%= @user.phone %></p>
<p><%= link_to 'edit', edit_user_registration_path(@user) %></p>


<h2>Meus jogos</h2>

<% @user.participants.each do |game| %>
  <%= game.booking.pitch.title %> (<%= game.booking.start_time.strftime("%d-%m") %>) - <%= game.booking.start_time.strftime("%Hh%M") %> - <%= game.booking.end_time.strftime("%Hh%M") %> <%= link_to 'Ver jogo', booking_path(game.booking) %>
<% end %>
<h2>Meus amigos (<%= @user.friendships.size %>)</h2>
<% @user.friendships.each do |friendship| %>
  <%= friendship.friend.first_name %> <%= friendship.friend.last_name %>
<% end %>


<h4>Adicionar amigo</h4>

<%= form_tag(friends_path, method: :post) do %>
  <%= text_field_tag :email, nil, placeholder: 'email' %>
  <%= submit_tag 'Pesquisar' %>
<% end %>
