<div class="users-show-player-wrapper">
  <div class="users-show-player-box">
    <div class="container">
          <div class="users-show-player-title">
            <h2>Meu Perfil</h2>
          </div>
            <div class="row">
              <div class="col-md-12">
                <div class="users-show-player-white-card-bar">

              </div>
            </div>
          </div>

      <div class="users-show-player-white-card">
        <div class="row">
          <!-- <<<<<<< users-show-player-front -->
          <div class="col-md-3">
            <div class="users-show-player-info">

              <div class="users-show-player-info-details">
                <div class="users-show-player-info-description">
                  <div class="users-show-player-photo">
                    <%= cl_image_tag current_user.photo %>
                  </div>

                  <p><i class="fa fa-user"></i> <%= @user.first_name %> <%= @user.last_name  %></p>
                  <p><i class="fa fa-envelope"></i> <%= @user.email%></p>
                  <p><i class="far fa-futbol"></i> <%= @user.nickname %></p>
                  <p><i class="fa fa-phone"></i> <%= @user.phone %></p>
                  <p><i class="fa fa-futbol"></i> <%= @user.position.name %></p>
                  <h4><p><%= link_to 'editar', edit_user_registration_path(@user) %></p></h4>
                </div>

              </div>
            </div>
          </div>

          <!-- Jogos Convidado-->
<!--               <div class="users-show-player-invited-games-title">
                <h2>Convidado</h2>
              </div> -->

          <div class="col-md-3">
            <span class="users-show-player-col-headers">Convites</span>
            <div class="users-show-player-invited-games-wrapper">
              <% @guest_bookings.each do |booking| %>
              <div class="users-show-player-games-each">
                <div class="users-show-player-games-each-details">

                  <h5><%= booking.pitch.company %></h5>
                  <p><i class="far fa-clock"></i> <strong><%= booking.start_time.strftime("%H:%M") %> - <%= booking.end_time.strftime("%H:%M") %></strong>   </p>

                  <%= link_to 'Ver jogo', booking_path(booking) %>

                </div>
                <div class="users-show-player-games-each-calendar">

                  <time datetime="#" class="icon">
                    <em><%= booking.start_time.strftime("%A") %></em>
                    <strong><%= booking.start_time.strftime("%B") %></strong>
                    <span> <%= booking.start_time.strftime("%d") %> </span>
                  </time>

                </div>
              </div>
              <% if policy(Participant).confirmed?(current_user, booking) %>
              <% end %>
            <% end %>
            </div>
          </div>
          <!-- End Jogos Convidado -->

<!--               <div class="users-show-player-organizer-games-title">
                <h2>Meus jogos</h2>
              </div> -->

          <!-- Jogos Organizador -->
          <div class="col-md-3">
            <span class="users-show-player-col-headers">Meus Jogos</span>
            <div class="users-show-player-organizer-games-wrapper">
              <% @host_bookings.each do |booking| %>
              <div class="users-show-player-games-each">
                <div class="users-show-player-games-each-details">
                  <h5><%= booking.pitch.company %></h5>
                  <p><i class="far fa-clock"></i> <strong><%= booking.start_time.strftime("%H:%M") %> - <%= booking.end_time.strftime("%H:%M") %></strong>   </p>
                  <p> <i class="fas fa-user" style="color: rgb(65,173,73);"></i> <%= booking.participants.where(confirmed: true).count %> <i class="far fa-user"></i> <%= booking.participants.where(confirmed: false).count %></p>
                  <%= link_to 'Ver detalhes', booking_path(booking) %>

                </div>
                <div class="users-show-player-games-each-calendar">

                  <time datetime="#" class="icon">
                    <em><%= booking.start_time.strftime("%A") %></em>
                    <strong><%= booking.start_time.strftime("%B") %></strong>
                    <span> <%= booking.start_time.strftime("%d") %> </span>
                  </time>

                </div>
              </div>
              <% end %>
            </div>
          </div>

          <!-- Friends Menu -->

          <div class="col-md-3">
            <span class="users-show-player-col-headers">Meus Contatos</span>
            <div class="users-show-player-friends">

              <h2>Você tem <strong><%= @user.friendships.size %></strong> contatos</h2>
                <% @user.friendships.each do |friendship| %>

              <div class="users-show-player-friends-list">
                <%= friendship.friend.first_name %> <%= friendship.friend.last_name %>
                <%= link_to friendship_path(friendship), method: :delete,
                  data: { confirm: "Tem certeza que deseja remover #{friendship.friend.first_name} #{friendship.friend.last_name} da sua lista de contatos?"} do %>
                  <i class="fas fa-user-times"></i>
                <% end %>
              </div>
            <% end %>

              <h4>
                <p>Adicionar contato</p>
                <%= form_tag(friendships_path(friendship: Friendship.new)) do %>
                <%= text_field_tag :email, nil, placeholder: 'email do contato', :class => 'text-field-addcontact' %>
                <%= submit_tag '+', :class => 'text-field-addcontact-plusbtn' %>
                <% end %>
              </h4>

            </div>
          </div>
          <!-- End Friends Menu -->
        </div>
      </div>
    </div>

  </div>

</div>



