<h2>Painel de controle</h2>

<p><%= @user.email%></p>
<p><%= @user.first_name %>
<p><%= @user.last_name  %></p>
<p><%= @user.phone %></p>
<p><%= link_to 'edit', edit_user_registration_path(@user) %></p>


<h2>Próximos jogos (<%= @upcoming_bookings.size %>)</h2>

<% @upcoming_bookings.each do |booking| %>
  <% if policy(Participant).confirmed?(current_user, booking) %>
    <p>
      <%= booking.pitch.title %> (<%= booking.start_time.strftime("%d-%m") %>) - <%= booking.start_time.strftime("%Hh%M") %> - <%= booking.end_time.strftime("%Hh%M") %> - (Presença confirmada) - <%= link_to 'Ver jogo', booking_path(booking) %>
    </p>
  <% else %>
    <p>
      <%= booking.pitch.title %> (<%= booking.start_time.strftime("%d-%m") %>) - <%= booking.start_time.strftime("%Hh%M") %> - <%= booking.end_time.strftime("%Hh%M") %> - <%= link_to 'Ver jogo', booking_path(booking) %>
    </p>
  <% end %>
<% end %>

<h2>Jogos anteriores</h2>

<% @past_bookings.each do |booking| %>
  <p>
    <%= booking.pitch.title %> (<%= booking.start_time.strftime("%d-%m") %>) - <%= booking.start_time.strftime("%Hh%M") %> - <%= booking.end_time.strftime("%Hh%M") %> <%= link_to 'Ver jogo', booking_path(booking) %>
  </p>
<% end %>

<h2>Meus amigos (<%= @user.friendships.size %>)</h2>
<% @user.friendships.each do |friendship| %>
  <p>
    <%= friendship.friend.first_name %> <%= friendship.friend.last_name %> -
    <%=  link_to 'Desfazer amizade', friendship_path(friendship),
                                                method: :delete,
                                                data: { confirm: "Tem certeza que deseja remover #{friendship.friend.first_name} #{friendship.friend.last_name} da sua lista de amigos?"} %>
  </p>
<% end %>


<h4>Adicionar amigo</h4>

<%= form_tag(friendships_path(friendship: Friendship.new)) do %>
  <%= text_field_tag :email, nil, placeholder: 'email' %>
  <%= submit_tag 'Pesquisar' %>
<% end %>
