<div class="navbar-allejo">
  <!-- Dropdown -->
  <div class="navbar-allejo-toggler">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-left navbar-allejo-dropdown-toggle">
        <li><%= link_to "Página Inicial", "#", class: "navbar-allejo-item navbar-allejo-link" %></li>
        <li><%= link_to "Quadras", "#", class: "navbar-allejo-item navbar-allejo-link" %></li>
        <li><%= link_to "Jogos", "#", class: "navbar-allejo-item navbar-allejo-link" %></li>
      </ul>
    </div>
  </div>
  <!-- End Dropdown  -->

  <!-- Logo -->
  <div class="navbar-logo">
    Allejo
  </div>
  <!-- End Logo -->

  <!-- Right Navigation -->
  <div class="navbar-allejo-right">
    <% if user_signed_in? %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-allejo-item">
        <div class="dropdown">
          <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNHk7TZa1Gzxh4CuIIooAtjJ2ahA4pD3qlgE8NJ7RTRPVJCCqs", class: "avatar dropdown-toggle", id: "navbar-allejo-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-allejo-dropdown-toggle">
            <li style="font-size:16px">
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Perfil") %>
              <% end %>
            </li>
            <li style="font-size:16px">
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Configurações") %>
              <% end %>
            </li>
            <li style="font-size:16px">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-allejo-item navbar-allejo-link" %>
    <% end %>
  </div>
  <!-- End Avatar with dropdown menu -->
</div>

